@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*nav*/
header{
  position: absolute;
  right: 0;
  top:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-top: 50px;  
  z-index: 1000000;
}

.test{
  visibility: hidden;
}

.nav-img {
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border{
  border: 1px solid white;
  width: 50%;
  z-index: 200;
  position: relative;
  left: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
  text-transform: uppercase;
}

.navigation a{
  width: 100%;
}

.navigation::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100px; 
  backdrop-filter: blur(15px);
  filter: brightness(1.3);
}

.active{
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-radius: 15px;
  width: 100%;
}

.active:hover{
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-radius: 15px;
  width: 100%;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  text-decoration: none;
  margin: 0 50px;
  font-size: 26px;
  z-index: 200000;
}

a:hover{
  border-bottom: 4px solid rgba(255,255,255,0.5);
  border-top: 4px solid rgba(255,255,255,0.5);
  border-radius: 15px;
  width: 100%;
}

.humb-menu{
  display: none;
}

.mob-menu{
  display: none;
  text-transform: uppercase;
}

.open-mob-menu{
  display: none;
}

/*Home*/
.home{
  background-image: url(./Photo/Home/background-home-desktop.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
}

.info-block{
  width: 75%;
  height: 382px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.title-block{
  width: 450px;
  height: 382px;
  
}

.pre-title{
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.725px;
  line-height: 34px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title-block{
  width: 450px;
  height: 172px;
  font-size: 150px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.text-title-block{
  font-size: 18px;
  font-weight: 400;
  color: #D0D6F9;
  line-height: 32px;
  font-family: 'Barlow';
}

.explorer{
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-explorer{
  height: 400px;
  width: 400px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-explorer:hover{
  visibility: visible;
}

.btn-block{
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: white;
  visibility:visible;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: 'Bellefair';
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  cursor: pointer;
}


/*Destination*/

.destination{
  background-image: url(./Photo/Destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.planet-block{
  width: 80%;
  height: 65%;
  margin-bottom: 100px;
}

.planet-block-titel{
  color: white;
  font-size: 25px;
  font-family: 'Barlow';
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-bottom: 20px;
}

.planet-block-info{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.planet-block-specification{
  width: 100%;
  height: 100%;
}

.planet-block-menu{
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);  
  gap: 20px;
  margin-bottom: 30px;
}

.planet-block-menu p{
  text-align: center;
  color: white;
  font-family: 'Barlow';
  text-transform: uppercase;
  font-size: 16px;
  width: 20%;
}

.planet-block-menu p:hover{
  border-top: 2px solid rgb(0, 204, 255);
  border-radius: 5px;
  cursor: pointer;
}

.moon,
.mars,
.europa,
.titan{
  border-bottom: 2px solid white;
  width: 100%;
}

.moon-active,
.mars-active,
.europa-active,
.titan-active{
  border-bottom: 2px solid white;
  width: 100%;
  border-radius: 5px;
}

.block-moon,
.block-mars,
.block-europa,
.block-titan{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.moon-img{
  background-image: url(./Pages/image-moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  min-height: 400px;
}

.mars-img{
  background-image: url(./Pages/image-mars.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  min-height: 400px;
}

.europa-img{
  background-image: url(./Pages/image-europa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  min-height: 400px;
}

.titan-img{
  background-image: url(./Pages/image-titan.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  min-height: 400px;
}

.planet-moon-info,
.planet-mars-info,
.planet-europa-info,
.planet-titan-info{
  width: 40%;
}

.planet-moon-titel,
.planet-mars-titel,
.planet-europa-titel,
.planet-titan-titel{
  font-size: 100px;
  font-family: 'Belefaur Regular';
  text-transform: uppercase;
  color: white;
}

.planet-moon-text,
.planet-mars-text,
.planet-europa-text,
.planet-titan-text{
  font-size: 16px;
  color: white;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 50px;
}

.planet-moon-block-border,
.planet-mars-block-border,
.planet-europa-block-border,
.planet-titan-block-border{
  height: 1px;
  width: 100%;
  background-color: rgba(255,255,255, 0.5);
  margin-bottom: 20px;
}

.planet-moon-block-dist-travel,
.planet-mars-block-dist-travel,
.planet-europa-block-dist-travel,
.planet-titan-block-dist-travel{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 80px;
}

.planet-moon-block-dist-travel p,
.planet-mars-block-dist-travel p,
.planet-europa-block-dist-travel p,
.planet-titan-block-dist-travel p{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-transform: uppercase;
}

.planet-moon-distance-title,
.planet-mars-distance-title,
.planet-europa-distance-title,
.planet-titan-distance-title{
  font-size: 14px;
  font-weight: 300;
  color: rgba(255,255,255,0.5);
  font-family: 'Barlow';
  margin-bottom: 20px;
}

.planet-moon-distance,
.planet-mars-distance,
.planet-europa-distance,
.planet-titan-distance{
  font-size: 30px;
  color: white;
  font-weight: 300;
  font-family: 'Belefaur Regular';
}

.planet-moon-travel-title,
.planet-mars-travel-title,
.planet-europa-travel-title,
.planet-titan-travel-title{
  font-size: 14px;
  font-weight: 300;
  color: rgba(255,255,255,0.5);
  font-family: 'Barlow';
  margin-bottom: 20px;
}

.planet-moon-travel,
.planet-mars-travel,
.planet-europa-travel,
.planet-titan-travel{
  font-size: 30px;
  color: white;
  font-weight: 300;
  font-family: 'Belefaur Regular';
}

/*Crew*/
.crew{
  width: 100%;
  height: 100vh;
  background-image: url(./Photo/Crew/background-crew-desktop.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.crew-block{
  width: 86%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crew-status{
  width: 50%;
  height: 100%;
}

.crew-titel{
  color: white;
  font-size: 25px;
  font-family: 'Barlow';
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-bottom: 100px;
}

.crew-block-info{
  margin-top: 100px;
  margin-left: 55px;
}

.commander-role,
.specialist-role,
.pilot-role,
.engineer-role{
  font-weight: 300;
  font-size: 25px;
  font-family: 'Belefaur Regular';
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.commander-name,
.specialist-name,
.pilot-name,
.engineer-name{
  font-size: 40px;
  font-weight: 400;
  font-family: 'Belefaur Regular';
  text-transform: uppercase;
  color: white;
  margin-bottom: 50px;
}

.commandet-bio,
.specialist-bio,
.pilot-bio,
.engineer-bio{
  color: white;
  font-family: 'Barlow';
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  height: 170px;
  width: 90%;
}

.crew-menu{
  display: flex;
  gap: 20px;
  margin-left: 55px;
  margin-top: 50px;
}

.circle-commander,
.circle-specialist,
.circle-pilot,
.circle-engineer{
  height: 20px;
  width: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
}

.circle-active{
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.crew-menu p{
  cursor: pointer;
}

.crew-photo{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.photo-commander{
  background-image: url(./Photo/Crew/image-douglas-hurley.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 650px;
}

.photo-specialist{
  background-image: url(./Photo/Crew/image-mark-shuttleworth.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 650px;
}

.photo-pilot{
  background-image: url(./Photo/Crew/image-victor-glover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 57vw;
  height: 650px;
}

.photo-engineer{
  background-image: url(./Photo/Crew/image-anousheh-ansari.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 57vw;
  height: 575px;
}


/*Tech*/
.tech{
  width: 100%;
  height: 100vh;
  background-image: url(./Photo/Tech/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tech-block{
  width: 90%;
  height: 75%;
  margin-top: 100px;
}

.tech-title-page{
  font-size: 25px;
  font-weight: 400;
  font-family: 'Barlow';
  color: white;
  margin-top: 60px;
  text-transform: uppercase;
}


.tech-title{
  margin-left: 5px;
  color: white;
  font-size: 25px;
  font-family: 'Barlow';
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.tech-wrapper{
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-end;
}

.teck-block-info{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-menu{
  height: 350px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}
.tech-menu p{
  cursor: pointer;
}

.tech-menu-off{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Barlow';
  font-weight: 100;
}

.tech-menu-active{
  background-color: white;
  color: black;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 100;
}

.tech-info{
  width: 600px;
  height: 350px;
}

.tech-pre-title{
  font-family: 'Barlow';
  font-weight: 100;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.tech-title{
  margin-top: 60px;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Barlow';
}

.tech-text{
  margin-top: 40px;
  color: white;
  font-family: 'Barlow';
  font-size: 20px;
  font-weight: 100;
  width: 100%;
}

.first-img{
  background-image: url(./Photo/Tech/image-launch-vehicle-portrait.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 32vw;
  width: 30vw;
}

.second-img{
  background-image: url(./Photo/Tech/image-spaceport-portrait.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 32vw;
  width: 30vw;
}

.third-img{
  background-image: url(./Photo/Tech/image-space-capsule-portrait.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 32vw;
  width: 30vw;
}



@media(max-width:990px){
  /*Nav*/
  header{
    margin-top: 25px; 
  }
  .border{
    display: none;
  }
  .navigation{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-end;
    gap: 10px;
  }
  a{
    margin: 0 0;
  }
  .humb-menu{
    display: none;
  }

  /*Home*/
  .info-block
  {
    width: 100%;
  }
  .title-block{
    min-width: 300px;
  }
  .pre-title{
    font-size: 22px;
  }
  .main-title-block{
    height: 140px;
    font-size: 120px;
  }
  .text-title-block{
    font-size: 14px;
  }
  .explorer,
  .block-explorer{
    height: 300px;
    width: 300px;
  }
  .btn-block{
    height: 180px;
    width: 180px;
    font-size: 25px;
  }

  /*Destination*/
  .moon-img,
  .mars-img,
  .europa-img,
  .titan-img{
    min-width: 300px;
    min-height: 300px;
  }
  .block-moon{
    gap: 50px;
  }
  .planet-moon-titel,
  .planet-mars-titel,
  .planet-europa-titel,
  .planet-titan-titel{
    font-size: 75px;
  }
  .planet-moon-block-dist-travel{
    gap: 10px;
    width: 100%;
  }
  .planet-block-specification{
    margin-left: 0;
  }
  .planet-moon-distance,
  .planet-moon-travel,
  .planet-mars-distance,
  .planet-mars-travel,
  .planet-europa-distance,
  .planet-europa-travel,
  .planet-titan-distance,
  .planet-titan-travel{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Crew*/
  .crew-block{
    width: 100%;
  }
  .commandet-bio,
  .specialist-bio,
  .pilot-bio,
  .engineer-bio{
    height: 200px;
    font-size: 14px;
    margin-bottom: -50px;
  }
  .photo-commander{
    width: 60vw;
    height: 550px;
  }
  .photo-specialist{
    width: 50vw;
    height: 500px;
  }
  .photo-pilot{
    width: 55vw;
    height: 500px;
  }
  .photo-engineer{
    width: 55vw;
    height: 450px;
  }

  /*Tech*/
  .tech-menu{
    width: 100px;
  }
  .tech-info{
    width: 400px;
    height: 350px;
  }
  .tech-title{
    margin-top: 20px;
  }
  .first-img,
  .second-img,
  .third-img{
    height: 40vw;
    width: 38vw;
  }
  .tech-text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
  }
}

@media(max-width:775px){
  /*Nav*/
  header{
    margin-top: 0;
  }
  .home{
    background-image: url(./Photo/Home/background-home-tablet.jpg);
  }
  .navigation{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70px;
  }
  .navigation:after{
    width: 100%;
    height: 100%;
  }
  a{
    font-size: 16px;
  }
  .humb-menu{
    display: none;
  }

  /*Home*/
  .info-block{
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  .title-block{
    margin-top: 120px;
  }
  .nav-img img{
    margin-top: -10px;
  }

  /*Destination*/
  .planet-block{
    width: 90%;
    height: 85%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .planet-block-titel{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .moon-img{
    min-width: 250px;
    min-height: 250px;
  }
  .mars-img,
  .europa-img,
  .titan-img{
    min-width: 250px;
    min-height: 250px;
  }
  .planet-block-menu{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
  .planet-block-specification{
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .block-moon,
  .block-mars,
  .block-europa,
  .block-titan{
    display: flex;
    flex-direction: column;
  }
  .planet-moon-info  {
    width: 80%;
    margin-top: 5px;
  }
  .planet-mars-info,
  .planet-europa-info,
  .planet-titan-info{
    width: 80%;
    margin-top: -95px;
  }
  .planet-moon-titel,
  .planet-moon-text,
  .planet-mars-titel,
  .planet-mars-text,
  .planet-europa-titel,
  .planet-europa-text,
  .planet-titan-titel,
  .planet-titan-text{
    text-align: center;
  }
  .planet-moon-text{
    font-family: 'Barlow';
    font-weight: 100;
  }
  .planet-moon-block-dist-travel,
  .planet-mars-block-dist-travel,
  .planet-europa-block-dist-travel,
  .planet-titan-block-dist-travel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  .planet-moon-block-dist-travel p,
  .planet-mars-block-dist-travel p,
  .planet-europa-block-dist-travel p,
  .planet-titan-block-dist-travel p{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Crew*/
  .crew{
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .crew-block{
    height: 85%;
    flex-direction: column;
  }
  
  .crew-status{
    width: 85%;
    height: 100%;
  }
  
  .crew-titel{
    margin-left: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .crew-block-info{
    margin-top: 50px;
    margin-left: 0px;
  }
  
  .commander-role,
  .specialist-role,
  .pilot-role,
  .engineer-role{
    text-align: center;
  }
  
  .commander-name,
  .specialist-name,
  .pilot-name,
  .engineer-name{
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
  }
  
  .commandet-bio,
  .specialist-bio,
  .pilot-bio,
  .engineer-bio{
    color: white;
    font-family: 'Barlow';
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;
    height: 170px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }
  .crew-menu{
    display: flex;
    gap: 20px;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
  }
  .crew-photo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-commander{
    width: 55vw;
    height: 350px;
  }
  .photo-specialist{
    width: 60vw;
    height: 350px;
  }
  .photo-pilot{
    width: 60vw;
    height: 350px;
  }
  .photo-engineer{
    width: 70vw;
    height: 350px;
  }
  
  /*Tech*/
  .tech-block{
    margin-top: 20px;
    width: 100%;
  }
  .tech-title-page{
    margin-top: 0;
    text-align: center;
  }
  .teck-block-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 400px;
  }
  .tech-menu{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    gap: 50px;
    height: 100px;
    margin-top: 80px;
  }
  .tech-menu p{
    width: 60px;
    height: 60px;
    font-size: 25px;
  }
  .tech-info{
    margin-top: 20px;
    width: 75%;
  }
  .tech-pre-title{
    text-align: center;
    margin-bottom: 15px;
  }
  .tech-title{
    margin-top: 0;
    text-align: center;
  }
  .tech-text{
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
  }
  .first-img{
    background-image: url(./Photo/Tech/image-launch-vehicle-portrait.jpg);
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: -240px;
  }
  .second-img{
    background-image: url(./Photo/Tech/image-spaceport-portrait.jpg);
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: -240px;
  }
  .third-img{
    background-image: url(./Photo/Tech/image-space-capsule-portrait.jpg);
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -240px;
  }
  .tech-wrapper{
    height: 0px;
  }
  .img{
    width: 100%;
  }
}

@media(max-width:500px){
  /*Nav*/
  .navigation{
    display: none;
  }
  .mobile-navigation{
    display: flex;
  }
  img{
    margin-right: 40px;
  }
  .humb-menu{
    display: flex;
  }
  .open-mob-menu{
    display: block;
    cursor: pointer;
  }
  .block-close-menu{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    cursor: pointer;
  }
  .mob-menu {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 65%;
    backdrop-filter: blur(15px);
    filter: brightness(1.3);
  }
  .block-mob-menu{
    display: flex;
    width: 80%;
    margin-left:70px;
    margin-top: 70px;
  }
  .nav{
    display: grid;
    grid-template-rows: repeat(4);
    justify-content: flex-end;
    gap: 10px;
  }
  .nav a{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 5px;
  }
  a:hover{
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-top: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    width: 100%;
    position: relative;
  }

  /*Home*/
  .info-block{
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  .title-block{
    margin-top: 150px;
  }
  .title-block,
  .pre-title,
  .main-title-block{
    width: auto;
  }
  .pre-title{
    font-size: 18px;
  }
  .main-title-block{
    font-size: 75px;
    height: 100px;
  }
  .text-title-block{
    margin: 0 30px;
  }
  .explorer,
  .block-explorer{
    width: 200px;
    height: 200px;
  }
  .btn-block{
    width: 150px;
    height: 150px;
  }

  /*Destination*/
  .planet-block-menu{
    top: 50%;
  }
  .planet-block{
    width: 100%;
  }
  .planet-block-titel{
    font-size: 20px;
    margin-left: 0px;
  }
  .mars-img{
    margin-top: -25px;
  }
  .titan-img{
    margin-top: -10px;
  }
  .planet-block-menu{
    width: 80%;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 30px;
  }
  .planet-block-menu p{
    font-size: 14px;
  }
  .planet-moon-titel,
  .planet-mars-titel,
  .planet-europa-titel,
  .planet-titan-titel{
    font-size: 40px;
  }
  .planet-moon-info{
    margin-top: 0px;
  }
  .planet-moon-block-dist-travel,
  .planet-mars-block-dist-travel,
  .planet-europa-block-dist-travel,
  .planet-titan-block-dist-travel{
    width: 100%;
    gap:30px;
  }
  .moon-img{
    margin-top: 0px;
  }
  .planet-moon-distance,
  .planet-moon-travel{
    font-size: 20px;
  }
  .planet-mars-distance,
  .planet-mars-travel{
    font-size: 18px;
  }
  .planet-europa-distance,
  .planet-europa-travel{
    font-size: 18px;
  }
  .planet-titan-distance,
  .planet-titan-travel{
    font-size: 18px;
  }

  /*Crew*/
  .crew-block{
    height: 85%;
  }
  .crew-titel{
    margin-bottom: 0;
  }
  .crew-block-info{
    margin-top: 300px;
    width: 100%;
  }
  .commander-role,
  .specialist-role,
  .pilot-role,
  .engineer-role{
    font-size: 25px;
    margin-top: -25px;
  }
  .commander-name,
  .specialist-name,
  .pilot-name,
  .engineer-name{
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: -15px;
  }
  .commandet-bio,
  .specialist-bio,
  .pilot-bio,
  .engineer-bio{
    font-size: 15px;
  }
  .crew-menu{
    margin-top: 50px;
  }
  .crew-photo{
    position: absolute;
    top: -20px;
    height: 50%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
  .photo-commander{
    width: 57vw;
    height: 250px;
  }
  .photo-specialist{
    width: 53vw;
    height: 250px;
  }
  .photo-pilot{
    width: 67vw;
    height: 250px;
  }
  .photo-engineer{
    width: 74vw;
    height: 250px;
  }

  /*Tech*/
  .tech-menu{
    width: 100%;
    margin-top: 50px;
  }
  .tech-menu p{
    height: 50px;
    width: 50px;
  }
  .tech-info{
    width: 90%;
  }
  .tech-title{
    font-size: 30px;
  }
  .tech-text{
    font-size: 14px;
  }
}